<!-- 用户的关注人和粉丝列表 -->

<div class="main-body">
	<div class='panel'>
		<div class='header'>
			<span class='col_fade'><%=locals.title%></span>
		</div>
		<div class='inner'>
			<% for(var i =0;i< locals.users.length;i++){ var user = locals.users[i]; %>
			<div class='user card'>
				<% if(user.avatar){ %> 
					<a href='/user/<%= user.id %>'><img class='user_avatar' src='<%= user.avatar %>' title='<%= user.loginname %>' /></a> 
				<% }else{ %> 
					<a href='/user/<%= user.id %>'><img class='user_avatar' src='/img/avatar.png' title='<%= user.loginname %>' /></a> 
				<% } %> 
				<span class='user_name'><a class='dark' href='/user/<%= user.id %>'><%= user.loginname %></a></span>
				<div class='sep5'></div>
				<span class='col_fade'>文章数: <a href='/<%=user.id%>/articles'><%=user.article_count?user.article_count:0%></a>&nbsp;&nbsp;&nbsp;&nbsp;粉丝:
					<a href='/<%=user.id%>/follower'><%=user.follower_count?user.follower_count:0%></a>&nbsp;&nbsp;&nbsp;&nbsp;关注: <a
					href='/<%=user.id%>/following'><%=user.following_count?user.following_count:0%></a></span>
			</div>
			<%}%>
		</div>
	</div>
</div>
<%-partial('user/profile',{object:locals.user_id, as:'user_id'})%>


