
<%
var user = result.user;
var categories = result.categories;
%>

<div id="ProfileSidebar" class="main-left">
	<%if(user){%>
	
	<div class='user_card'>
		<div class='user_card_left'>
			<h1><a href="/user/<%=user.id%>"><%= user.loginname%></a></h1>
			<p><a href="/<%=user.id%>/follower">粉丝： <span><%=result.followers.count%></span>个</a></p>
			<p><a href="/<%=user.id%>/following">关注： <span><%=result.followings.count%></span>人</a></p>
		</div>
		<div class='user_card_right'>
			<a href="/user/<%=user.id%>" title="echover" class="img x"><img style="width:60px;" src="<%=user.avatar%>"></a>
		</div>
	</div>

	<%}%>
	<br/>
	
	<% if(locals.current_user && (locals.current_user.id == user.id)){%>
	<div style="height:100px;margin-bottom:30px;">	
		<a href="/archive/create" class="btn wbtn fr"><strong>发布文章</strong><span></span></a>
	</div>
	<%}else{%>
	<div style="height:100px;margin-bottom:30px;" id ='follow_area'>
		<a href='javascript:void(0)' onclick="follow(<%=user.id%>);" class="btn btn-success fr">+&nbsp;加关注</a>
	</div>
	<%}%>
	
	
	<ol class="activity">
		<li>&nbsp;我的归档&nbsp;&nbsp;&nbsp;&nbsp;<% if(locals.current_user && (locals.current_user.id == user.id)){%><a href="/categories/edit/">编辑</a><%}%></li>
		<%
			for(var sidebar_category_index = 0;categories && sidebar_category_index < categories.length; sidebar_category_index++){
		%>
		<li>▶&nbsp;&nbsp;<a href="/archives/<%=user.id%>/<%=categories[sidebar_category_index].id%>"><%=categories[sidebar_category_index].name%>&nbsp;&nbsp;(<%=categories[sidebar_category_index].archive_count?categories[sidebar_category_index].archive_count:0%>)</a></li>
		<%
			}
		%>
	</ol>
	
	<ol class="activity">
		<li>&nbsp;我的收藏&nbsp;&nbsp;&nbsp;&nbsp;<a href="/categories/edit/"></a></li>
		
	</ol>
</div>


<script>
	$(document).ready(function() {
	    
	    $.ajax({//是否关注了此人
			type: "POST",
			url: "/isfollow/"+<%=user.id%>,
			success:function(data){
			    if(data.flag == 'success')//已关注了此人
					$('#follow_area').html('<a href="javascript:void(0)" onclick="unfollow('+<%=user.id%>+');"  class="btn wbtn fr">取消关注</a>');
			    else
			        $('#follow_area').html('<a href="javascript:void(0)" onclick="follow('+<%=user.id%>+');" class="btn btn-success fr">+&nbsp;加关注</a>');
			},
		  	error:function(){}
		});
	});
	
	function follow(to_follow_id){
		$.ajax({
			type: "POST",
			url: "/follow/"+to_follow_id,
			success:function(data){
			    if(data.flag == 'success')
					$('#follow_area').html('<a href="javascript:void(0)" onclick="unfollow('+to_follow_id+');"  class="btn wbtn fr">取消关注</a>');
			    else if(data.flag == 'fail')
			        alert(data.info);
			    else
			        alert('发生未知错误');
			},
		  	error:function(){alert('不能发送关注请求');}
		});
	}
	
	function unfollow(to_unfollow_id){
		$.ajax({
			type: "POST",
			url: "/unfollow/"+to_unfollow_id,
			success:function(data){
			    if(data.flag == 'success')
			        $('#follow_area').html('<a href="javascript:void(0)" onclick="follow('+to_unfollow_id+');" class="btn btn-success fr">+&nbsp;加关注</a>');
			    else if(data.flag == 'fail')
			        alert(data.info);
			    else
			        alert('发生未知错误');
			},
		  	error:function(){alert('不能发送取消关注请求');}
		});
	}
</script>