
<%
var user = result.user;
var categories = result.categories;
%>

<div id="ProfileSidebar" class="main-left">
	<%if(user){%>
	
	<div class='user_card'>
		<div class='user_card_left'>
			<h1><a href="/user/<%=user.id%>"><%= user.loginname%></a></h1>
			<p><a href="/followers/">粉丝<span>0</span>个</a></p>
			<p><a href="/following/">关注<span>2</span>人</a></p>
		</div>
		<div class='user_card_right'>
			<a href="/user/<%=user.id%>" title="echover" class="img x"><img src="/img/avatar.png"></a>
		</div>
	</div>

	<%}%>
	<br/>
	
	<% if(locals.current_user && (locals.current_user.id == user.id)){%>
	<div style="height:100px;margin-bottom:30px;">
	<a href="/archive/create" class="btn wbtn"><strong>发布文章</strong><span></span></a>
	</div>
	<%}else{%>
	<div style="height:50px;margin-bottom:30px;"></div>
	<%}%>
	
	
	<ol class="activity">
		<li>&nbsp;我的归档&nbsp;&nbsp;&nbsp;&nbsp;<a href="/categories/edit/">编辑</a></li>
		<%
			for(var sidebar_category_index = 0;categories && sidebar_category_index < categories.length; sidebar_category_index++){
		%>
		<li>▶&nbsp;&nbsp;<a href="/archives/<%=user.id%>/<%=categories[sidebar_category_index].id%>"><%=categories[sidebar_category_index].name%>&nbsp;&nbsp;(<%=categories[sidebar_category_index].archive_count?categories[sidebar_category_index].archive_count:0%>)</a></li>
		<%
			}
		%>
	</ol>
	
	<ol class="activity">
		<li>&nbsp;我的收藏&nbsp;&nbsp;&nbsp;&nbsp;<a href="/categories/edit/"></a></li>
		
	</ol>
</div>

<!-- 
<div id="ctx_bar">
	<p class="bar-links" style="font-size:1.4em">
		<span class="selected">文章</span>&nbsp;·&nbsp;<a href="/pins/">关注</a>&nbsp;·&nbsp;<a href="/likes/">粉丝</a>
	</p>
	<div id="BoardButton">
		<a id="boards_sort" href="/#" onclick="return false;" class="btn wbtn"><strong>更多&gt;&gt;</strong><span></span></a>
	</div>
</div>
 -->