<div class="main-right">
	<ul class="sortable">
		<li>
			<div class="right-body">
					<div class='panel'>
						<div class='header'>
							<span class='col_fade'>分类下文章</span>
						</div>						
						<div class='inner'>
							<h3><%= archive.title %></h3>	
							<div class='sep10'></div>	
							<div class='topic_content'>
								<%- archive.content %>
							</div>
							<div class='sep10'></div>	
							<span class='col_fade'>分类：</span>
							<%for(var cli=0;cli<archive_categories.length;cli++){%>
								<a class='category_tag_link' href='/archives/<%=archive.author_id%>/<%=archive_categories[cli].id%>'><%=archive_categories[cli].name%></a>
							<%}%>

							<div class='sep5'></div>	
							<span class='col_fade'>
								<a class='dark' href='/user/<%= result.user.name %>'><%= result.user.loginname %></a> 在 <%= archive.create_at %> 发布
							</span><br/>
							<span class='col_fade'>
								<a class='dark' href='/user/<%= result.user.name %>'><%= result.user.loginname %></a> 在 <%= archive.update_at %> 重新编辑
							</span>

							<span class='sp10'></span>
	
							<% if(locals.current_user){ %>
							<% if(current_user.id==result.user.id){ %>
							<span class='sp10'></span>
							<a href='/archive/<%= archive.id %>/edit'><img class='user_icon' src='/img/doc_edit_icon&16.png' title='编辑' /></a>
							<a href='/archive/<%= archive.id %>/delete' onclick="return deleteConfirm();" class='delete_topic_btn'><img class='user_icon' src='/img/trash_icon&16.png' title='删除' /></a>
							<% }%>
							<% } %>
						</div>
					</div>
			</div>
		</li>
	</ul>
</div>
<%- partial('user/sidebar',{collections:result,as:'result'}) %>

<script type="text/javascript">
    //为了在编辑器之外能展示高亮代码
    SyntaxHighlighter.highlight();
    function deleteConfirm(){
        if(confirm('确定要删除吗?删除后将不可恢复')==true)
            return true;
        else
            return false;
    }
</script>