<div class='cell'>
	<div class='user_avatar' style="margin-right:20px;">
		<a href='/user/<%=archive.author.id%>'><img width="48px" src='<%=archive.author.avatar%>' title='<%=archive.author.loginname%>' /></a>
	</div>
	<a href='/archive/<%=archive.id%>'><%=archive.title%></a> <a class='count fr' href='/archive/<%=archive.id%>#reply1'><%=archive.reply_count%></a>
	<div class='sep10'></div>
	<div class='sep5'></div>
	<span class='col_fade' style='color:#aaa;'>
		<%=archive.visit_count%>点击&nbsp;&nbsp;<%=archive.reply_count%>回复
		&nbsp;&nbsp;&nbsp;<%=archive.friendly_create_at%>发布
	</span>
</div>