
<div class="main-right">
			<div class="right-body">


					<div class='panel'>
						<div class='header'>
							<span class='col_fade'>所有文章</span>
						</div>
						<%
						if(archives && archives.length > 0){
						%>
						<%- partial('archive/archive_item',{collection:archives,as:'archive'}) %>
						<%}else{%>
						<p class='col_fade' style="margin:20px;">该用户暂无文章</p>
						
						<%}%>
					</div>
	
			</div>
</div>

<%- partial('user/sidebar',{collections:result,as:'result'}) %>