

<div class='panel'>
	<div class='header'>
			<span class='col_fade'>登录</span>
	</div>
	<div class='inner'>
		<div class='sep10'></div>
		<div class='sep10'></div>
		<% if(locals.error){ %>
		<div class="alert alert-error">
			<a class="close" data-dismiss="alert" href="#">&times;</a> <strong><%= error %></strong>
		</div>
		<% } %>
		<form id='signin_form' action='/signin' method='post' class="form-horizontal">
			<div class='control-group'>
				<label class='control-label'>用户名</label>
				<div class='controls'>
					<input class='input-xlarge' id='name' name='name' size='30' type='text' />
				</div>
			</div>
			<div class='control-group'>
				<label class='control-label' for='pass'>密码</label>
				<div class='controls'>
					<input class='input-xlarge' id='pass' name='pass' size='30' type='password' />

					<p class='help-block' style='padding-top: 8px;'>
						<a href='javascript:void(0)' onclick="alert('i am so sorry for that!');">我忘记了密码</a>
					</p>
				</div>
			</div>
			<input type='hidden' name='_csrf' value='<%= csrf %>' />
			<div class='control-group'>
				<label class='control-label'></label>
				<div class='controls'>
					<input type='submit' class='btn btn-primary btn-large' value='登录' />
				</div>
			</div>
		</form>
	</div>
</div>

