<div class="main-body">
	<div class='panel'>
		<div class='header' style='height:28px;line-height:28px;'>
			<span class='col_fade'><i class="icon-time"></i> 最新上传的文件</span>
		</div>
		<%if(new_files &&　new_files.length>0){%>
		<table class='table folder_files_table' style="width:720px;margin:20px;">
			<thead>
				<th width=210px>文件名</th>
				<th width=30px>大小</th>
				<th width=60px>分享者</th>
				<th width=30px>下载量</th>
			</thead>
			<tbody>
			<%-partial('file_item',{collection:new_files,as:'file'}) %>
			</tbody>
		</table>
		<%}%>
	</div>
	
	
	
	<div class='panel'>
		<div class='header' style='height:28px;line-height:28px;'>
			<span class='col_fade'><i class="icon-hand-up"></i> 最多下载的文件</span>
		</div>
		<%if(hot_files &&　hot_files.length>0){%>
		<table class='table folder_files_table' style="width:720px;margin:20px;">
			<thead>
				<th width=210px>文件名</th>
				<th width=30px>大小</th>
				<th width=60px>分享者</th>
				<th width=30px>下载量</th>
			</thead>
			<tbody>
			<%-partial('file_item',{collection:hot_files,as:'file'}) %>
			</tbody>
		</table>
		<%}%>
	</div>
	
	
</div>

<%-partial('side')%>
