

<div class="main-body">
	<% if(new_archives && new_archives.length > 0){ %> 
	<div class='panel'>
		<div class='header'>
			<span class='col_fade'><i class="icon-time"></i> 最新文章</span>
		</div>
		
		<%-partial('archive/archive_item_2',{collection:new_archives,as:'archive'}) %>
		
	</div>
	<%}else{}%>
	
	<% if(most_visit_archives && most_visit_archives.length > 0){ %> 
	<div class='panel'>
		<div class='header'>
			<span class='col_fade'><i class="icon-eye-open"></i> 最多访问</span>
		</div>
		
		<%-partial('archive/archive_item_2',{collection:most_visit_archives,as:'archive'}) %>
		
	</div>
	<%}else{}%>
	
	<% if(most_reply_archives && most_reply_archives.length > 0){ %> 
	<div class='panel'>
		<div class='header'>
			<span class='col_fade'><i class="icon-comment"></i> 最多回复</span>
		</div>
		
		<%-partial('archive/archive_item_2',{collection:most_reply_archives,as:'archive'}) %>
		
	</div>
	<%}else{}%>
</div>

<%-partial('side')%>
